<header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Meet<b>Geek</h1>
</b>            <h3>All tech events in one place</h3>
            <br><br><br>
        </div>
    </header>

    <section class="col-lg-8 col-lg-offset-2 hidden-xs">
        <div class="filter-panel">
        <%= search_form_for @q do |f| %>
        <%= f.select :start_date, options_for_select([
      ['Today', Time.zone.today],
      ['Tomorrow', Time.zone.tomorrow],
      [(Time.zone.today + 2).strftime("%d %b"), Time.zone.today + 2],
      [(Time.zone.today + 3).strftime("%d %b"), Time.zone.today + 3],
      [(Time.zone.today + 4).strftime("%d %b"), Time.zone.today + 4],
      [(Time.zone.today + 5).strftime("%d %b"), Time.zone.today + 5],
      [(Time.zone.today + 6).strftime("%d %b"), Time.zone.today + 6]
    ]), include_blank: true %>
        <%= f.submit "Filtruj", class: %w{btn btn-default btn-sm} %>
        <% end %>
        </div>
    </section>

    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                </div>
            </div>
        </div>
    </section>
    
<% @events_by_day.each do |day, events| %>

<section class="black-content">
</section>
     
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
        <h2><b>
          <%= image_tag("calendarwhite.png", :alt => "calendar", :width => "30px", :height => "30px") %>
          <%= day.strftime("%A %d %B %Y") %>
        </b></h2>
    </div>
  </div>
</div> 

<div class="container">
  <div class="row col-md-10 col-md-offset-1">

    <% for event in events %>

      <div class="col-xs-12 col-sm-6 col-md-4 block-center">
        <div class="clear">
        </div>
        <div class="block">
          <div class="top-block">
            <div class="price">
              <div class="text-vertical-center"> 
  
                <% if (event.price == "0.00")%>
                    FREE
                  <% elsif (event.price == "") %>
                    FREE
                  <% elsif (event.price == "0.00 EUR") %>
                    FREE
                  <% elsif (event.price == "0.00 GBP") %>
                    FREE
                  <% else %>
                     <%= event.price %> 
                <% end %>

              </div>
            </div>
            <div class="title">
                <h3><b>
                  <%= truncate(event.name, length: 45, separator: ' ')%>
                </b></h3>
            </div>
          </div>
          <div class="down-block">
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
            <span class="glyphicon-class">Event start at: <%= event.time %></span><br>
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
            <span class="glyphicon-class"> <%= truncate( event.adr, length:17, separator: ' ') %> </span>
          </div>
        </div>
      </div>

    <% end %>

  </div>
</div>
<% end %>


<div class="twitter-content">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
        <h2><b>
          <% @geektweet.each do |geektweet|%>
        
              <h3 style="color: #000"><%= geektweet %></h3>

          <% end %>
         
        </b></h2>
    </div>
  </div>
</div> 

<section class="col-xs-8 col-xs-offset-2">
  <div class="show-more-block">
    <div class="show-more-botton">
      <h3><b>
      Show more events
      </b></h3>
    </div>
  </div>
</section>
      
<%= link_to 'New Event', new_event_path %>